
body{
  background-color: #F8F8F8;
  font-family: "Open Sans";
  }

/* blog heder */
header{ 
  padding: 10px 30px !important; 
  background-color: white;
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5); 
}
a.badge{ 
  margin-right: 7px !important; 
  text-decoration:none; 
}
#linksCloud.accordion { 
  --bs-accordion-active-bg: transparent !important; 
  --bs-accordion-btn-focus-box-shadow: transparent !important; 
  --bs-accordion-border-color: transparent !important; 
}
#linksCloud .accordion-body{ 
  padding: 10px; 
  text-align: center !important; 
}
#linksCloud .accordion-button{ 
  margin-left: 15px !important; 
  font-family: "DynaPuff"; 
  font-size: 1.6rem; 
  font-weight: 600; padding: 0 !important; 
  color: #777; 
}

/* Post short */
.container-xxl{ 
  padding-left: 30px !important; 
  padding-right: 30px !important; 
}
.post-short{ 
  margin-top: 30px; 
  padding: 25px; 
  border-radius: 15px;
  font-size: 1.2rem; 
  background-color: #FFF;  
}
.post-short-title{ 
  margin-bottom: 20px; 
  font-size: 1.6rem; 
  font-weight: 600; 
  font-family: Verdana;
  color: #777; 
}
.post-short-title a{
  color: #777;
  text-decoration: none;
}
.post-short-title a:hover, .post-short-title a:active{
  text-decoration: underline;
}
.post-short-footer{ 
  margin-top: 20px; 
  font-size: 0.9rem; 
  color: #C7C7C7; 
}
.post-short-footer a{
  color: #C7C7C7 !important; 
}
.post-short-footer div{ 
  margin-bottom: 2px; 
}

/* Generica Pages Top Menu: changed accordion arrow to menu symbol */
.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
